.links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    padding-bottom: 10px;
    a {
        width: 5vw;
        height: 5vw;
        margin: 0 10vw 0 10vw;
    }
}